@import "tailwindcss";

@theme {
  --font-sans: "Poppins", "sans-serif";
  --font-mono: "IBM Plex Mono", "monospace";
}

body {
  font-family: "Poppins", "sans-serif";
}

button,
select,
input,
option {
  cursor: pointer;
}
