@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
  --font-mono: "IBM Plex Mono", "monospace";
}

body {
  font-family: "Inter", "sans-serif";
}

button,
select,
input, option {
  cursor: pointer;
}
